<main>
    <div class="filter-side-bar-container">
        <app-date-range />
        <div class="filter-classes">
            <!--  -->
            <ul>
                @for (year of onlyYears(); track onlyYears()) {
                <li>
                    <app-filter-class [allYearsAtSchool]="year" />
                </li>
                }
            </ul>
        </div>
    </div>
    <div class="school-shedule-container">
        @for (year of onlyYears(); track onlyYears()) {
        <app-school-shedule [years]="year" /> }
    </div>
</main>