main {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    /*  */
    background-color: darkgrey;
    height: fit-content;
    padding: 20px;
    /*  */
}

.filter-side-bar-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /*  */
    background-color: grey;
    padding: 15px;
    border-radius: 15px;
}

.filter-classes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*  */
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
}

#filt-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.school-shedule-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex-grow: 1;
    /*  */
    background-color: grey;
    padding: 15px;
    border-radius: 15px;
}